         {{#if pictures}}
            <ul>
                {{#each pictures}}
                    <li><img {{bind-attr src=src}} /></li>
                {{/each}}
            </ul>
        {{else}}
            <span class="noPicturesWarning">No pictures found for this event.</span>
        {{/if}}
