/* Put your CSS here */
html, body {
  margin: 30px 0;
}

.debug,
.connectionResults /*,
.connectionId,
.connectionPriority*/
{
  display: none;
}

#connectionsListing {
  .administration {
    button.edit,
    button.doneEdit {
      width: 12px;
      height: 12px;
      border: 0;
      float: right;
      background: transparent image-url("icons/info_klein_blau.gif") no-repeat left top;
      span {
        display: none;
      }
    }

    button.toggleResults {
      width: 12px;
      height: 12px;
      border: 0;
      padding: 0px;
      float: right;
      span {
        font-size: 8px;
      }
    }
  }

  .info {
    width: 90%;
  }
}

ul.dates {

  overflow: hidden;

  .day {
    display: block;
    float: left;

    a,
    a:link,
    a:visited {
      border-right: 1px solid #aaaaaa;
      padding: 0 2px 0 2px;
      display: block;
      text-decoration: none;
      color: black;
    }

    a:hover {
      text-decoration: underline;
      background-color: #ffc080 !important;
    }

    a.active,
    a.active:link {
      background-color: #ff6500;
      color: #ffffff;
    }

    a.active {
      border-right: 1px solid #ff6500;
      border-left: 1px solid #ff6500;
    }

    .number, .name {
      display: block;
    }
  }

  .saturday {
    background-color: #efefef;
  }

  .sunday {
    background-color: #dddddd;
  }

}

section.event {

  width: 400px;
  border: 1px lightgray solid;
  margin: 3px;
  padding: 3px;

  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    zoom: 1; /* IE6&7 */
  }

  .categories {

    li {
      display: inline;
      list-style-type: none;

      &:after {
        content: " | ";
      }

      &:last-of-type:after {
        content: " ";
      }

    }

  }

  h1.title {
    text-transform: uppercase;
    font-size: 11px;
    padding: 0;
    margin: 0;
  }

  h2.subtitle {
    font-size: 11px;
    padding: 0;
    margin: 0;
    font-style: italic;
  }

  span.location:after,
  time.date:after {
    content: " | ";
  }

  .sources {
    padding-left: 0;
    li {
      list-style: none;
      display: inline;
    }

  }

  .administration {
    float: right;

    li {
      list-style: none;
      padding: 0 2px;
      display: block;
      float: left;
      width: 14px;
      height: 11px;
      text-decoration: none;

      span {
        display: none;
      }

      &:hover {
        opacity: 0.5;
      }

      &.recycle_item {
        background: transparent image-url("icons/to_tray_klein_blau.gif") no-repeat left top;
      }

      &.derecycle_item {
        background: transparent image-url("icons/from_tray_klein_blau.gif") no-repeat left top;
      }

      &.item_to_top {
        background: transparent image-url("icons/to_top_klein_blau.gif") no-repeat left top;
      }

      &.item_to_bottom {
        background: transparent image-url("icons/to_bottom_klein_blau.gif") no-repeat left top;
      }

    }
  }

  .result_groups > li {
    list-style: none;
    padding-left: 0;
  }

}

.recycled_groups {
  section.event {
    width: inherit;
    border: 0;
  }

  h3 {
    font-size: 18px;
  }
}

.event_info_source_icon {
  max-width: 16px;
  max-height: 16px;
}

.pictures {
  float: left;
  padding: 2px;
  width: 125px;
  height: 140px;

  ul {

    padding: 0;

    li {
      list-style: none outside none;
      height: 20px;
      width: 20px;
      overflow: hidden;
      float: left;

      img {
        height: 20px;
        width: auto;
      }

      &:first-of-type {
        height: 120px;
        width: 120px;

        img {
          height: 120px;
        }

      }

    }

  }

  span.noPicturesWarning {
    vertical-align: middle;
    font-style: italic;
  }
}

ul.tagcloud {
  list-style: none;

  li.tag {
    display: inline;
    color: #aaaaaa;
  }

  li.active, li.allActive {
    color: #000;
  }

  @for $i from 1 through 10 {
    .tag-#{$i} {
      font-size: 10px * $i;
    }
  }
}

