@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
    margin: 30px 0;
}

ul.dates {

  overflow: hidden;

 .day {
    display:block;
    float:left;

    a,
    a:link,
    a:visited {
      border-right: 1px solid #aaaaaa;
      padding: 0px 2px 0px 2px;
      display: block;
      text-decoration: none;
      color: black;
    }

    a:hover {
      text-decoration: underlined;
      background-color: #ffc080 !important;
    }

    a.active,
    a.active:link {
      background-color: #ff6500;
      color: #ffffff;
    }

    a.active  {
      border-right: 1px solid #ff6500;
      border-left: 1px solid #ff6500;
    }

    .number, .name {
      display: block;
    }
 }

  .saturday  {
    background-color: #efefef;
  }

  .sunday  {
    background-color: #dddddd;
  }

}

  ul.event {

    li {
      background-image: none !important;
      list-style-image: none;
      padding-left: 0 !important;
    }

    li.categories {

      li:after {
        content: " | ";
      }

      li {
        display: inline;
        list-style-type: none;
      }

    }

    li.title {
      list-style-type: none;
      text-transform: uppercase;
    }

    li.pictures ul.picture-list,
    li.pictures ul.picture-list li {
      list-style: none outside none;
    }

    ul.pictures ul {
      float: left;
      padding: 2px;
    }

    li.location:after,
    li.date:after {
      content: " | ";
    }

    li.date {
      display: inline;
      list-style-type: none;
    }

    li.price {
      display: inline;
      list-style-type: none;
    }

    li.location, li.price {
      display: inline;
      list-style-type: none;
    }
  }
