@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
    margin: 30px 0;
}

ul.dates {

  overflow: hidden;

 .day {
    display:block;
    float:left;

    a,
    a:link,
    a:visited {
      border-right: 1px solid #aaaaaa;
      padding: 0px 2px 0px 2px;
      display: block;
      text-decoration: none;
      color: black;
    }

    a:hover {
      text-decoration: underlined;
      background-color: #ffc080 !important;
    }

    a.active,
    a.active:link {
      background-color: #ff6500;
      color: #ffffff;
    }

    a.active  {
      border-right: 1px solid #ff6500;
      border-left: 1px solid #ff6500;
    }

    .number, .name {
      display: block;
    }
 }

  .saturday  {
    background-color: #efefef;
  }

  .sunday  {
    background-color: #dddddd;
  }

}

  section.event {

    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
    & {
      zoom: 1; /* IE6&7 */
    }

    .categories {

      li {
        display: inline;
        list-style-type: none;

        &:after {
          content: " | ";
        }

        &:last-of-type:after {
          content: " ";
        }

      }

    }

    h1.title {
      text-transform: uppercase;
      font-size: 11px;
      padding: 0px;
      margin: 0px;
    }

    h2.subtitle {
      font-size: 11px;
      padding: 0px;
      margin: 0px;
      font-style: italic;
    }

    .pictures {
      float: left;
      padding: 2px;
      width: 125px;
      height: 140px;

      ul {

        padding: 0px;

        li {
          list-style: none outside none;
          height: 20px;
          width: 20px;
          overflow: hidden;

          img {
            height: 20px;
            width: auto;
          }

          &:first-of-type {
            height: 120px;
            width: 120px;

            img {
              height: 120px;
            }

          }

        }

      }

      span.noPicturesWarning {
        vertical-align: middle;
        font-style: italic;
      }

    }

    span.location:after,
    time.date:after {
      content: " | ";
    }

    .sources {
      padding-left: 0px;
      li {
        list-style: none;
        display: inline;
      }

    }

  }

.result_groups > li {
  list-style: none;
  padding-left: 0;
}
