<h1>Link</h1>

<table>
  {{#each buffer as |item|}}
  <tr>
    <td>
      <strong>{{item.key}}:</strong>
    </td>
    <td>
      {{input value=item.value}}
    </td>
  </tr>
  {{/each}}
</table>

<button {{action 'save'}}>Update</button>

{{outlet}}
