<ul class="dates">
    {{#each model as |eventDate| }}
        <li class="day {{if eventDate.isSaturday 'saturday'}} {{if eventDate.isSunday 'sunday'}}">
            {{#link-to 'groupset' eventDate}}
                <span class="name">
                    {{ format-date eventDate.date 'dd' }}
                </span>
            <span class="number">
                {{ format-date eventDate.date 'DD' }}
            </span>
            {{/link-to}}
        </li>
    {{/each}}
</ul>

{{!-- outlet --}}
