<h1>ResultGroups</h1>

    <ul class="result_groups">
        {{#each }}
            {{#if enabled}}
                {{group-details group=this tagName="li"}}
            {{/if}}
        {{/each}}
    </ul>

{{outlet}}
