<h1>Picture</h1>

<table>
  {{#each model.attributes as |item|}}
  <tr>
    <td>
      <strong>{{item.key}}:</strong>
    </td>
    <td>
      {{item.value}}
    </td>
  </tr>
  {{/each}}
</table>

{{outlet}}
