<h1>Sources</h1>

<ul>
 {{#each model as |item|}}
 <li id="source_{{item.id}}">
     <img src={{item.icon}} class="connectionSource_Icon" />
     <span class="connectionSource">{{#link-to 'source' item}}{{item.name}}{{/link-to}}</span>
 </li>
  {{/each}}
</ul>

{{outlet}}
