<h1>Source</h1>

<table>
  {{#each model.attributes as |item|}}
  <tr>
    <td>
      <strong>{{item.key}}:</strong>
    </td>
    <td>
      {{item.value}}
    </td>
  </tr>
  {{/each}}
</table>

{{#link-to 'source.edit' model}}Change{{/link-to}}

{{outlet}}
