<h1>Sources</h1>

<ul>
 {{#each model}}
 <li id="source_{{this.id}}">
     <img {{bind-attr src=icon}} class="connectionSource_Icon" />
     <span class="connectionSource">{{#link-to 'source' this}}{{this.name}}{{/link-to}}</span>
     <span class="connectionStatus">no status yet</span>
 </li>
  {{/each}}
</ul>

{{outlet}}
